
header {
  background-color: darkgray;
  width: 100%;
}

body {
  background-color: black;
}

img {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

h1 {
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: orange;
  font-size: 50px;
}

h4 {
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: brown;
  font-size: 20px;
}

.centered {
  position: absolute;
  top: 0px;
  left: 5%;
}

#Ashape {
  margin-bottom: 10px;
}

.content {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: darkgrey;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.form-group {
  width: 100%;
  border-radius: 5px;
  display: inline-block;
  background-color: burlywood;
  padding: 10px;
  margin-top: 20px;
  margin-right: 2px;
}

.form-control {
  display: inline-block;
  width: 100%;
  height: 30px;
  margin-top: 10px;
}

.dropdown {
  display: inline-block;
  width: 100%;
  height: 30px;
  margin-top: 10px;
}

#search {
  float: right;
}

table {
  table-layout: auto;
  border-collapse: collapse;
  width: 100%;
}

td {
  word-break: break-all;
}

.dataTables_paginate {
  margin-top: 10px;
}

.dataTables_paginate a {
  background-color: grey;
  color: blue;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

.dataTables_paginate a:hover:not(.active) {background-color: #ddd;}

.dataTables_paginate span {
  background-color: grey;
  color: black;
  float: left;
  padding: 0px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

footer {
  height: 30px;
  padding-top: 5px;
  background-color: lightseagreen;
  color: orange;
  text-align: center;
}
